@import "tailwindcss";

@theme {
  /* Primary Brand Colors */
  --color-ink: #000000;
  --color-ink-soft: #080818;

  --color-sky: #0085fe;
  --color-sky-hover: #006fd6;
  --color-sky-light: #3b9ffb;

  /* Backgrounds */
  --color-cloud: #f8fcff;
  --color-soft-blue: #e8f8ff;

  /* Text */
  --color-slate: #242424;
  --color-muted: #64748b;

  /* UI */
  --color-border: #d6efff;

  /* Extra Brand Shades */
  --color-blue-soft: #c9e4ff;
  --color-blue-pale: #eff8ff;

  /* Fonts */
  --font-heading: "Sora", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Radius */
  --radius-pill: 999px;
}

body {
  font-family: var(--font-body);
  color: var(--color-slate);
  background-color: var(--color-cloud);
}

/* section {
  content-visibility: auto;
  contain-intrinsic-size: 500px;
} */

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
